* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
     font-family: sans-serif;
}
.judul{
    text-align: center;
    font-size: 80px;
}
.judul1{
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
}
    /* CARD */
.kolom{
    display: grid;
        column-gap: 10px;
        row-gap: 20px;
        grid-template-columns: auto auto auto auto;
        /* background-color: #2196f3; */

        padding: 10px;

}
.grid-item{
    display: block;
        width: 70% !important;

        aspect-ratio: 9/16;
        background-color: white;
        border-radius: 5px;
        border: 1px solid rgb(161, 161, 161);
        margin: 0;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        font-family: arial;
        display: inline-block;
        max-height: 350px;
        overflow: hidden;
        margin: 0;
}
.price{
    color: grey;
    font-size: 22px;
    transition-duration: 0.5s;
}
.card button{
    border: none;
    outline: 22px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card button:hover{
    opacity: 0.7;
}
.card img{
    width: 200px;
    max-height: 200px;
    margin-top: 20px;
    transition-duration: 0.5s;
    margin-bottom: 20px;
}
.card:hover img {
    transform: scale(1.2);
}